# Dependencies
node_modules/

# Build outputs
dist/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
figma-console.log

# Temporary files
*.tmp
*.temp

# BETA files
scripts/_DEBUG_SCRIPTS/*
scripts/LEGACY_SCRIPTS/*
scripts/_*.*
scripts/*.bak*