# Dependencies
node_modules/

# Build outputs
dist/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
figma-console.log

# Temporary files
*.tmp
*.temp

# BETA files
scripts/_DEBUG_SCRIPTS/*
scripts/_LEGACY_SCRIPTS/*
scripts/EXAMPLE_SCRIPTS/*.bak*
scripts/EXAMPLE_SCRIPTS/*.temp*
scripts/EXAMPLE_SCRIPTS/*.tmp*
scripts/EXAMPLE_SCRIPTS/*.old*
scripts/EXAMPLE_SCRIPTS/_*.*
